.container {
  padding-top: 4rem;
  background-color: #f3f4f6;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 3rem 1rem; /* Adjust padding for smaller screens */
  flex-direction: column; /* Ensure vertical stacking */
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  color: #1e293b;
  margin-bottom: 1.25rem;
  text-align: center;
}

.subtitle {
  font-weight: 300;
  color: #4b5563;
  text-align: center; /* Center the subtitle */
}

.detailsWrapper {
  display: flex;
  flex-direction: column; /* Stack details and form vertically */
  align-items: center; /* Center items */
  margin-top: 1.75rem;
  width: 100%; /* Full width */
}

.contactDetail {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  width: 100%; /* Ensure full width */
}

.iconWrapper {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(200, 200, 200);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  color: white;
  margin-right: 1rem;
}

.contactInfo {
  text-align: left;
  font-size: 1rem;
  color: #4b5563;
}

.contactInfoTitle {
  font-weight: 300;
  color: #1e293b;
  margin: 0;
}

.formWrapper {
  width: 100%; /* Full width on smaller screens */
  max-width: 500px; /* Max width for larger screens */
  padding: 1.25rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formTitle {
  color: #1e293b;
  font-size: 1.125rem;
  text-align: center;
  font-style: italic;
  margin-bottom: 1.25rem;
}

.inputField,
.inputFieldMsg {
  background-color: white;
  width: 100%;
  padding: 0.625rem;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  outline: none;
  margin-bottom: 1.75rem;
  color: black;
}

.inputFieldMsg {
  height: 100px; 
  resize: vertical;  
}

.submitButton {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 0.625rem;
  font-size: 1rem;
  border: 1px solid rgb(215, 215, 215);
  border-radius: 0.375rem;
  width: 50%; /* Default to 50% width */
  margin-top: 1rem; /* Space above button */
}

@media screen and (max-width: 768px) {
  .flexCenter {
    padding: 2rem 1rem; /* Reduce padding on smaller screens */
  }
  .submitButton {
    width: 100%; /* Full width on smaller screens */
  }
}

@media screen and (min-width: 327px) {
  .submitButton {
    width: 50%; /* 50% width on larger screens */
  }
}

.submitButton:hover {
  background-color: #f3f4f6;
  color: #6b7280;
}
